.bipartite {
    text {
        font-size: 12px;
    }

    rect {
        shape-rendering: crispEdges;
    }

    .subbar {
        /*fill: pink;*/
    }

    .mainbar {
        .mainrect-container {
            fill: pink;
        }

        &.selected {
            .mainrect-container {
                fill: firebrick;
             
            }

            text {
                font-weight: bold;      fill: white;
            }
        }


        .mainrect {
            stroke-width: 1;
            stroke: gainsboro;
            /*  stroke-opacity: 0;
    shape-rendering: auto;*/
            fill: gainsboro;
            fill-opacity: 0;
        }

        .mainrect.selected {
            stroke-opacity: 1;
        }

        .barlabel, .barvalue, .barpercent {
            font-weight: normal;
        }
    }


    .barpercent {
        /*fill: grey;*/
    }


    .header {
        text-anchor: middle;
        font-weight: bold;

        .header-underscore {
            stroke: black;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
    }

    .header text {
        fill: grey;
    }
}
